Options +FollowSymlinks

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase / 
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api$ feature.php [L] 
RewriteRule ^cds/(bcmt|isgi)/(obs|data|indices).*$ /center/$1.php?%{QUERY_STRING} [L]
RewriteRule ^api.*$ feature.php?%{QUERY_STRING} [L]
</IfModule>


ErrorDocument 404 /404.php

